@font-face {
    font-family: 'Intro Rust H2 Base';
    src: url('subset-IntroRustH2-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Base';
    src: url('subset-IntroRustL-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Base';
    src: url('subset-IntroRust-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Base';
    src: url('subset-IntroRustH2-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Base';
    src: url('subset-IntroRustL-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Base';
    src: url('subset-IntroRust-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

