
.page-template .page-content ul,
.page-template-default .page-content ul,
.search-results .page-content ul{
	padding-left: 0px;
}
.page-template .page-content li,
.page-template-default .page-content li,
.search-results .page-content li{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 10px;
	position: relative;
}
.page-template .page-content li:before,
.page-template-default .page-content li:before,
.search-results .page-content li:before{
	content: '';
	position: absolute;
	left: -30px;
	background-image: url(../images/check.svg);
	background-position: center;
	background-repeat: repeat;
	width: 18px;
	height: 18px;
	top:1px;
	background-size: 18px;
}
span.nowrap{
	white-space: nowrap;
}

/*--------------------------------------------------------------
# COMPANY PAGE
--------------------------------------------------------------*/
.white_block{
	background: rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.default-page .white_block, .error404 .white_block, .search .white_block{
	padding:30px;
}
.dark_block{
	background: rgba(136, 118, 109, 0.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.white_block .inner{
	padding: 10px 610px 10px 35px;
}
.company_block_01{
	position:relative;
	padding-bottom:100px;
}
.company_block_01 img{
    position: absolute;
    right: 0px;
	top: -30px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
	-moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
	box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
}
.company_block_02{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
            align-items: flex-start;
	    padding-bottom: 35px;
}
.company_block_02 .features{
	width:31%;
	position:relative;

}
.company_block_02  .features.features_01 .inner{
	background-image:url(../images/features-01.png);
	background-position:21px top;
}
.company_block_02  .features.features_02 .inner{
	background-image:url(../images/features-02.png);
	background-position:15px 7px;
}

.company_block_02  .features.features_03 .inner{
	background-image:url(../images/features-03.png);
	background-position:16px 8px;
}
.company_block_02 .features .inner{
	position:relative;
	z-index:5;
	background-repeat:no-repeat;
	padding-top:120px;
	padding-left:35px;
}
.company_block_02 .features:before, .company_block_02 .features:after{
	position:absolute;
	content:'';
}
.company_block_02 .features:before{
	width:140px;
	height:140px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	background:#fff;
	left:0px;
	top:30px;
}
.company_block_02 .features:after{
	width:80%;
	height:4px;
	background:#ecbb2e;
	left:0px;
	top:100px;
}
.department{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
            align-items: flex-start;
	position:relative;
}
.department:before{
	width:80px;
	height:80px;
	background:rgba(255, 255, 255, 0.8);
	content:'';
	position:absolute;
	left:0px;
	top:6px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.department_text {
	position:relative;
	padding:33px 0px 0px 33px;
}
.department_text h3{
	margin:0px;
	padding:0px;
	line-height:100%;
}
.department_text p{
	padding: 0px;
	margin: 10px 0px;
}
.department_text strong{
	font-size:20px;
}
.department .figures{
	width:184px;
	position:relative;
	margin-left:20px;
}
.department .figures:before{
	width:144px;
	height:144px;
	background:#ffffff;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	content:'';
	display:block;
	position:absolute;
	left: 20px;
    top: 20px;
}
.department .figures .yellow{
	width:184px;
	color:#edb61a;
	font-size:50px;
	font-family: 'Museo Sans Cyrl 900';
	text-align:center;
	position:relative;
	padding-top: 50px;
    line-height: 100%;
}
.department .figures .grey{
	color:#cdc8c7;
	font-size:20px;
	font-family: 'Museo Sans Cyrl 900';
	text-align:center;
	position:relative;
}
.department .figures .caption{
	position: relative;
    text-align: center;
    padding-top: 20px;
}
.department.department_01{
	padding-bottom:30px;
}


/*--------------------------------------------------------------
# CONTACTS PAGE
--------------------------------------------------------------*/
.contacts_block_01{
	position:relative;
}
.map{
	width: 40%;
	overflow:hidden;
    height: calc(100% + 64px);
    position: absolute;
    top: -32px;
	right:0px;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
}
#contact-map{
	width:100%;
	height:100%;
}
.contacts_block_01 h2{
	font-size:30px;
	color:#ffffff;
	line-height:100%;
	margin:0px;
	padding:0px;
}
.contacts_block_01 h3{
	margin:5px 0px;
}
.contacts_block_01 .dark_block{
	padding:50px 42% 50px 50px;
}
.contacts-items, .contacts-items a{
	color:#fff;
	text-decoration:none;
}
.contacts-items{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.contacts-item{
	width:50%;
	padding-left:85px;
	position:relative;
	height: 56px;
    line-height: 120%;
	margin-top:15px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
.contacts-item:before{
	width:56px;
	height:56px;
	left:0px;
	top:0px;
	position:absolute;
	content:'';
	background-color:rgba(244, 243, 242, 0.2);
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 5px 5px 0px rgb(115, 102, 95, 0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgb(115, 102, 95, 0.2);
    box-shadow: 0px 5px 5px 0px rgb(115, 102, 95, 0.2);
}
.contacts-item.addres{
	width:100%;
}
.contacts-item.addres:before{
	background-image:url(../images/addres-icon.svg);
	background-size: 41px;
}
.contacts-item.mail:before{
	background-image:url(../images/mail-icon.svg);
	background-position: 13px 13px;
    background-size: 35px;
}
.contacts-item.phone:before{
	background-image:url(../images/phone-icon.svg);
	background-size: 34px;
}
.contacts-item.vk:before{
	background-image:url(../images/vk-icon.svg);
	background-size: 37px;
}
.contacts-item.odn:before{
	background-image:url(../images/odnoklassniki.svg);
	background-size: 30px;
}
.contacts_block_02{
	margin-top:70px;
}
.contacts_block_02 .contacts-employee{
	padding:39px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.contacts-employee .employee{
	width:33.3%;
	position:relative;
	padding:29px 25px;
}
.contacts-employee .employee:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: url(../images/dotted-border.png);
    background-position: left top;
    display: block;
	bottom: 0px;
    left: 0px;
}
.contacts-employee .employee:after{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: url(../images/dotted-border.png);
    background-position: left top;
    display: block;
	right: 0px;
    top: 0px;
}
.contacts-employee .employee:nth-child(3n+3):after{
	display:none;
}
.contacts-employee .employee:nth-last-child(-n+4):before{
	display:none;
}
.contacts-employee .employee h4{
	text-transform: none;
    margin: 0px;
    padding: 0px;
}
.contacts-employee .employee span.yellow{
	color:#edb61a;
	text-transform:uppercase;
	font-family: 'Museo Sans Cyrl 900';
}
.contacts-employee .employee p:empty{
	display:none;
}
.contacts-employee .employee h4+p{
	margin: 5px 0px 15px;
    line-height: 100%;
}
.phone-e, .mail-e, .phone-e a, .mail-e a{
	text-decoration:none;
}
.phone-e, .mail-e{
	position:relative;
	padding-left:38px;
	margin-top:8px;
}
.phone-e:before, .mail-e:before{
	content:'';
	width:27px;
	height:22px;
	position:absolute;
	left:0px;
	top:-5px;
	background-position:left center;
	background-repeat:no-repeat;
	display:block;
}
.phone-e:before{
	background-image:url(../images/phone-e.svg);
	top: -1px;
    background-size: 25px;
}
.mail-e:before{
	background-image:url(../images/mail-e.svg);
	top:2px;
	left:1px;
	background-size: 27px;
}
.contacts-employee .employee:empty{
	display:none;
}

/*--------------------------------------------------------------
# PARTNERS PAGE
--------------------------------------------------------------*/
.white_block.partners{
    padding: 30px calc(40% + 30px) 30px 30px;
	position:relative;
}
.partners-sidebar{
	width: 40%;
    position: absolute;
    top: -15px;
    right: 0px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    z-index: 11;
}
.partners h4{
	color:#ecbb2e;
}
.partners-price{
	width:100%;
	position:relative;
	height:58px;
}
.partners-price:before{
	width: 58px;
	height: 58px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../images/download.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	content:'';
	position: absolute;
	left: 0px;
	top: 0px;

}
.partners-price a{
	display:block;
	position:relative;
	width:100%;
	height:58px;
	line-height:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	        align-items:center;
	background: #ecbb2e;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding-left:75px;
	font-family: 'Museo Sans Cyrl 900';
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    padding-right: 20px
}
.partners-price:hover a{
	background: rgb(160, 145, 138);
}
.partners .dark_block{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding: 30px;
	margin-top: 30px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    background: #9f918a;
}
.partners .dark_block h4{
	margin:0px;
	padding: 0px;
	color: #ffffff;
}
.partners .dark_block h4 .yellow{
	color:#ecbb2e;
	display: block;
}
.partners .contacts-item{
	padding-left: 75px;
	min-width: 230px;
}
.dark-form input, .dark-form textarea{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	background:rgba(253, 253, 252, 0.2);
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 40px;
    padding: 0px 20px;
    width: 100%;
    margin-top: 17px;
}
.dark-form input:focus, .dark-form textarea:focus{
	background:rgba(253, 253, 252, 0.3);
}
.dark-form textarea{
	height:80px;
	 resize: none; 
	 line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dark-form input::-webkit-input-placeholder,.dark-form textarea::-webkit-input-placeholder { 
  color: #ffffff;
}
.dark-form input:-ms-input-placeholder,.dark-form textarea::-webkit-input-placeholder { 
  color: #ffffff;
}
.dark-form input::placeholder,.dark-form textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.dark-form .form-desc, .dark-form .form-desc a{
	font-size: 16px;
	color: #ffffff;
}
.partners .dark-form{
	margin-top: 30px;
}
.right{
	text-align: right;
}
.dark-form input[type="submit"]{
	background:#ecbb2e;
	width: auto;
	cursor: pointer;
}
.dark-form input[type="submit"]:hover{
	background: #86766D;
}

/*--------------------------------------------------------------
# CATALOG PAGE
--------------------------------------------------------------*/
.catalog-content{
	height: calc(100% - 154px);
    position: absolute;
    min-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(100% - 325px);
}
.catalog-content .catalog-item{
	width:50%;
	height:50%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.catalog-content .catalog-item.catalog-01{
	background-image: url(../images/catalog/catalog-01.jpg);
}
.catalog-content .catalog-item.catalog-02{
	background-image: url(../images/catalog/catalog-02.jpg);
}
.catalog-content .catalog-item.catalog-03{
	background-image: url(../images/catalog/catalog-03.jpg);
}
.catalog-content .catalog-item.catalog-04{
	background-image: url(../images/catalog/catalog-04.jpg);
}
.catalog-content .catalog-item:before{
	content: '';
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
	opacity: 0.5;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.catalog-content .catalog-item:hover:before{
	opacity: 0.8;
}
.catalog-content .catalog-item.catalog-01:before, .catalog-content .catalog-item.catalog-04:before{
	background:#88766d;
}
.catalog-content .catalog-item.catalog-02:before, .catalog-content .catalog-item.catalog-03:before{
	background:#ffffff;
}
.catalog-content .catalog-item a.category-inner{
	position: relative;
	padding: 7% 12% 30px 12%;
	text-decoration: none;
	display: block;
}
.catalog-content h2{
	padding:0px;
	margin:0px;
	position: relative;
	font-family: 'Intro Rust Base';
	font-size: 36px;
	line-height: 100%;
}
.catalog-content h2:before{
	content: '';
	width:150px;
	height: 110px;
	position: relative;
	background-position: left bottom;
	background-repeat: no-repeat;
	display: block;
    margin-bottom: 20px;
}
.catalog-content p{
	font-size: 18px;
	margin-bottom: 0px;
}
.catalog-content .catalog-01 h2:before{
	background-image: url(../images/cheese-icon-catalog.png);
}
.catalog-content .catalog-02 h2:before{
	background-image: url(../images/milk-icon-catalog.png);
}
.catalog-content .catalog-03 h2:before{
	background-image: url(../images/butter-icon-catalog.png);
}
.catalog-content .catalog-04 h2:before{
	background-image: url(../images/prod-icon-catalog.png);
}
.catalog-content .catalog-01 h2, .catalog-content .catalog-04 h2, 
.catalog-content .catalog-01 p, .catalog-content .catalog-04 p{
	color:#ffffff;
}
.catalog-content .catalog-02 h2, .catalog-content .catalog-03 h2,
.catalog-content .catalog-02 p, .catalog-content .catalog-03 p{
	color:#88766d;
}

/*--------------------------------------------------------------
# WOOCOMMERCE PAGE
--------------------------------------------------------------*/
.woocommerce-page .catalog{
	position: relative;
}
.pswp__bg{
	background: rgba(36, 41, 45, 0.7);
}
.pswp__caption{
	display: none;
}
.woocommerce-result-count, .woocommerce-ordering{
	display: none;
}
ul.product-cats{
	display:-webkit-box;display:-ms-flexbox;display:flex;
	-ms-flex-wrap: wrap;    flex-wrap: wrap;
	margin: 0px;
    padding: 0px;
}
ul.product-cats li{
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;
	background: #ecbb2e;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
ul.product-cats li:hover{
	background: #86766D;
}
ul.product-cats li a{
	text-decoration: none;
	color: #ffffff;
	font-family: 'Intro Rust Base';
	text-transform: uppercase;
	line-height: 30px;
    display: block;
    padding: 10px 20px;
}
.woocommerce ul.products li.product a img {
    width: auto;
}
.catalog ul.products{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0px;
    margin: 0px;
    list-style: none;
    -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;
    max-width: 1500px;
}
.catalog ul.products li.product{
	margin-top: 40px;
    margin-bottom: 20px;
}
.product_desc{
	position: absolute;
    background: rgba(237, 182, 26, 0.9);
    width: 0%;
    height: 0%;
    display: flex;
    padding: 0px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.product_desc .desc-inner{
	opacity: 0;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
a.woocommerce-loop-product__link:hover .imgcat .product_desc{
	width: 100%;
    height: 100%;
    padding:50px 45px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
a.woocommerce-loop-product__link:hover .imgcat .product_desc .desc-inner{
	opacity: 1;
	-webkit-transition: all .5s 0.2s ease;
    -moz-transition: all .5s 0.2s ease;
    -o-transition: all .5s 0.2s ease;
    transition: all .5s 0.2s ease;
	
}
a.woocommerce-loop-product__link{
	width:280px;
	text-decoration: none;
	display: block;
	position: relative;
}
.imgcat{
	width:280px;
	height:280px;
	background: #ffffff;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(136,118,109,0.2);
	-moz-box-shadow: 5px 10px 10px 0px rgba(136,118,109,0.2);
	box-shadow: 5px 10px 10px 0px rgba(136,118,109,0.2);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
}
.catalog ul.products li.product h2.woocommerce-loop-product__title{
	color:#88766d;
	font-size: 18px;
	text-align: center;
	margin:20px 0px 0px;
	line-height: 120%;
	padding:0px;
}
a.woocommerce-loop-product__link:after{
	width: 60px;
	height:60px;
	content:'';
	position: absolute;
	display: block;
	background-position: 25px center;
	background-repeat: no-repeat;
	background-image: url(../images/chevron-right.svg);
	background-color: #f4f3f2;
	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(136,118,109,0.2);
    box-shadow: 2px 2px 5px 0px rgba(136,118,109,0.2);
    right: 0px;
    top: 220px;
    background-size: 14px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
a.woocommerce-loop-product__link:hover:after{
	background-color: #ffffff;
}

/*--------------------------------------------------------------
# WOOCOMMERCE PAGE PRODUCT
--------------------------------------------------------------*/
.product.type-product{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.product_meta{
	display:none;
}
.product .woocommerce-product-gallery{
	width: calc(50% - 50px);
    margin-right: 50px;
}
.product .woocommerce-product-gallery.woocommerce-product-gallery--without-images{
	display: none;
}
.product .woocommerce-product-gallery.woocommerce-product-gallery--without-images ~ .summary{
	width:100%;
}
.product .woocommerce-product-gallery.woocommerce-product-gallery--without-images ~ .summary table.woocommerce-product-attributes{
	max-width: 900px;
}
.product .summary{
	width:50%;
}
.related.products{
	clear: both;
	width: 100%;
}
figure.woocommerce-product-gallery__wrapper{
	margin:0px;
}
figure.woocommerce-product-gallery__wrapper a{
	padding:20px;
	display: block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    background: #ffffff;
    text-align: center;
}
.product .woocommerce-product-gallery .flex-viewport{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    background: #ffffff;
}
 .flex-control-thumbs {
 	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px 0px;
    padding: 0px;
    list-style: none;
    }
.flex-control-thumbs img{
	cursor: pointer;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(136,118,109,0.1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(136,118,109,0.1);
	box-shadow: 5px 5px 5px 0px rgba(136,118,109,0.1);
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.flex-control-thumbs li:hover img{
   -webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
	    -moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
	    box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
}
.flex-control-thumbs li{
	margin-right: 15px;
	margin-bottom: 10px;
}
h2.product_title{
	font-size: 30px;
	font-family: 'Intro Rust Base';
	margin-top: 0px;
}
table.woocommerce-product-attributes{
	background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:20px;
}
table.woocommerce-product-attributes th.woocommerce-product-attributes-item__label{
	text-align: left;
	font-weight: normal;
	padding-right:20px;
}
table.woocommerce-product-attributes td.woocommerce-product-attributes-item__value{
	text-align: right;

}
table.woocommerce-product-attributes th p, table.woocommerce-product-attributes td p{
	padding:0px;
	margin:0px;
}
table.woocommerce-product-attributes th, table.woocommerce-product-attributes td{
	padding-top:10px;
	padding-bottom:10px;
	background-image: url(../images/dotted-border.png);
	background-repeat: repeat-x;
	VERTICAL-ALIGN: bottom;
}
table.woocommerce-product-attributes td.woocommerce-product-attributes-item__value p,
table.woocommerce-product-attributes td.woocommerce-product-attributes-item__value{
	color:#edb61a;
}
table.woocommerce-product-attributes th{
	background-position: calc(100% - 7px) bottom;
}
table.woocommerce-product-attributes td{
	background-position: left bottom;
}
section.related.products h2{
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 80px;
}
.woocommerce img.pswp__img, .woocommerce-page img.pswp__img {
    width: : auto!important;
    height: auto!important;
}

/*--------------------------------------------------------------
# OTHER STYLES
--------------------------------------------------------------*/
span.yellow {
    color: #edb61a;
    text-transform: uppercase;
    font-family: 'Museo Sans Cyrl 900'

}

.organization-half{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.organization-half .half{
	width: 50%;
    position: relative;
    padding: 10px 25px;
}

@media screen and (max-width: 768px)
{
	.organization-half .half {
		width: 100%;
	}
}
.save_icon:before {
    width: 30px;
    height: 58px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(../images/download-e.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    content: '';
    position: absolute;
	left: 0px;
    top: 0px;
    
}
.save_icon  {
	position: relative;
    width: 100%;
    min-height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding-left: 45px;
    text-decoration: none;
/*    -webkit-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 10px 10px 10px 0px rgba(136,118,109,0.2);
    box-shadow: 0px 0px 20px 0px rgba(136,118,109,0.2);*/
    padding-right: 20px;
}

blockquote, q {
	border-left: 5px solid #edb61a;
    background-color: #f7be6814;
    padding: 5px 0px 20px 20px;
}

.pp_description {
	display:none!important;
}
article .history-item{
	position: relative;
	padding-left: 40px;
}
article .history-item:before{
	content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #edb61a;
    display: block;
    top: 23px;
    left: 8px;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
article .history-item:after{
	content: '';
    position: absolute;
    width: 5px;
    height: calc(100% - 63px);
    background: url(../images/dotted-border.png);
    background-position: left top;
    display: block;
    top: 70px;
    left: 20px;
}
.wpb_single_image img{
	width: auto;
}
.people p strong{
	color: #edb61a;
   	text-transform: uppercase;
}
.people .vc_col-sm-4{
	margin-bottom: 10px;
}
.people .vc_single_image-wrapper img{
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(136,118,109,0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(136,118,109,0.2);
    box-shadow: 5px 5px 5px 0px rgba(136,118,109,0.2);
}
.columns-2.wpb_column{
	padding-bottom: 20px;
}
.columns-2-row{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.columns-2-row .columns-2{
	float:none;
}
.columns-2-row:before{
	content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: url(../images/dotted-border.png);
    background-position: left top;
    display: block;
    bottom: 0px;
    left: 0px;
}
.columns-2.wpb_column:after{
	content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: url(../images/dotted-border.png);
    background-position: left top;
    display: block;
    right: 0px;
    top: 0px;
}
.columns-2-row .columns-2.wpb_column:last-child:after{
	display: none;
}
.columns-2-row.last:before{
	display: none;
}
.table_page td{
	width: auto;
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid #e4e3e3;
}
.table_page tr:first-child td{
	color: #edb61a;
    text-transform: uppercase;
    border-bottom: 3px solid #edb61a;
    font-size: 18px;
}
.light-form{
	max-width: 800px;
}
.light-form label{
	margin-top: 15px;
	font-size: 16px;
	display: block;
}
.light-form br{
	display: none;
}
.light-form input, .light-form textarea{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #666260;
	background:#f3f2f1;
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 40px;
    padding: 0px 20px;
    width: calc(100% - 40px);
    margin-bottom: 5px;
    margin-top: 10px;
}
.light-form input:focus, .light-form textarea:focus{
	background:#d8d4d1;
}
.light-form textarea{
	height:120px;
	 resize: none; 
	 line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.light-form input::-webkit-input-placeholder,.light-form textarea::-webkit-input-placeholder { 
  color: #666260;
}
.light-form input:-ms-input-placeholder,.light-form textarea::-webkit-input-placeholder { 
  color: #666260;
}
.light-form input::placeholder,.light-form textarea::-webkit-input-placeholder {
  color: #666260;
}
.light-form input[type="submit"]{
	background:#ecbb2e;
	width: auto;
	cursor: pointer;
	color:#fff;
}
.light-form input[type="submit"]:hover{
	background: #86766D;
	color:#fff;
}
span.wpcf7-not-valid-tip, div.wpcf7-response-output{
	font-size: 16px;
	color: #edb61a;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #edb61a;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 15px;
}
a.btn.btn-main{
	display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    background: #edb61a;
    border-radius: 40px;
    color: #fff;
    margin: 15px 0px;
}
a.btn.btn-main:hover{
	background: #87766d
}



/*---------------- 1860 ----------------*/
@media screen and (max-width: 1860px){
	.company_block_01 img{
		top:0px;
	}
	.contacts-item{
		padding-left:70px;
	}
	.partners-price a{
		font-size: 16px;
	}
}

/*---------------- >1750  ----------------*/
@media screen and (min-width: 1750px){
	.catalog ul.products li.product{
	    margin-right: calc((100% - 1122px) / 3);
	}
	.catalog ul.products li.product:nth-child(4n-4){
		margin-right: 0px;
	}
}

/*---------------- <1750  ----------------*/
@media screen and (max-width: 1750px){
	.catalog ul.products li.product{
	    margin-right: calc((100% - 842px) / 2);
	}
	.catalog ul.products li.product.last{
		margin-right: 0px;
	}
}


/*---------------- 1600 ----------------*/
@media screen and (max-width: 1600px){
	.header-page, .page-content{
		width:calc(100% - 300px);
	}
	.company_block_01 img {
		width: 400px;
	}
	.company_block_01 .white_block{
		width: calc(100% - 320px);
	}
	.white_block .inner{
		padding-right:100px;
	}
	.department{
		-ms-flex-wrap: wrap;    flex-wrap: wrap;
	}
	.department.department_01 {
		padding-bottom: 50px;
	}
	.contacts-employee .employee {
		width: 50%;
	}
	.contacts-employee .employee:nth-child(3n+3):after{
		display:block;
	}
	.contacts-employee .employee:nth-last-child(-n+4):before{
		display:block;
	}
	.contacts-employee .employee:nth-child(even):after{
		display:none;
	}
	.contacts-employee .employee:nth-last-child(-n+3):before{
		display:none;
	}
	.contacts-item {
		width: 100%;
	}
	.catalog-content{
	    width: calc(100% - 300px);
	}


}

/*---------------- 1400 ----------------*/
@media screen and (max-width: 1400px){
	.header-page h1{
		padding-left:60px;
	}
	ul#dt_breadcrumbs{
		margin-left:60px;
		margin-right:60px;
	}
	.page-content{
		padding:20px 60px 80px;
	}
	h2 {
		font-size: 30px;
	}
	h3{
		font-size:22px;
	}
	h4{
		font-size:20px;
	}
	.catalog-content h2{
		font-size: 28px;
	}
	.catalog-content h2:before {
	    width: 110px;
	    height: 100px;
	}	
	.catalog-content .catalog-01 h2:before{
		background-size: 70px;
	}
	.catalog-content .catalog-02 h2:before{
		background-size: 50px;
	}
	.catalog-content .catalog-03 h2:before{
		background-size: 80px;
	}
	.catalog-content .catalog-04 h2:before{
		background-size: 53px;
	}
	h2.product_title {
	    font-size: 26px;
	}
	section.related.products h2 {
	    font-size: 22px;
	    margin-top: 50px;
	}	
}

@media screen and (max-width: 1400px) and (min-width: 700px){	
	.imgcat {
	    width: 250px;
	    height: 250px;
	}
	a.woocommerce-loop-product__link {
	    width: 250px;
	}
	.catalog ul.products li.product{
	    margin-right: calc((100% - 751px) / 2);
	}
	a.woocommerce-loop-product__link:after{
		top:190px;
	}
	.product_desc{
		line-height: 110%;
		font-size: 14px;
	}
	a.woocommerce-loop-product__link:hover .imgcat .product_desc{
		padding:50px 40px;
	}
}

@media screen and (max-width: 1280px) and (min-width: 1100px), screen and (max-width: 980px){
	.company_block_01 .white_block{
		width:100%;
	}
	.white_block .inner{
		padding-right:35px;
	}
	.white_block .inner p:first-child{
		padding-right:300px;
	}
	.company_block_01 img {
		width: 300px;
		top:40px;
	}
	.company_block_01 {
		padding-bottom: 60px;
	}
	.company_block_02 .features {
		width: 100%;
		padding-bottom: 50px;
	}
	.company_block_02 .features:after {
		width: 300px;
	}
	.company_block_02{
		padding-bottom:0px;
	}
	.department .figures:before {
		width: 124px;
		height: 124px;
		left: 10px;
	}
	.department .figures .yellow {
		width: 144px;
		font-size: 40px;
		padding-top:38px;
	}
	.department .figures {
		width: 144px;
	}
	.contacts-employee .employee {
		width: 100%;
	}
	.contacts-employee .employee:nth-child(3n+3):after, .contacts-employee .employee:after{
		display:none;
	}
	.contacts-employee .employee:nth-last-child(-n+3):before{
		display:block;
	}
	.contacts-employee .employee:last-child:before{
		display:none;
	}
	.contacts-employee .employee{
		padding: 20px 0px 29px;
	}
	.partners-sidebar{
		width: calc(100% + 60px);
	    position: relative;
	    margin: 0px auto;
	    margin-top: 50px;
	    top: 0px;
	    left: -30px;
	    margin-bottom: -55px;
	}
	.white_block.partners{
		padding:30px;
	}
}
@media screen and (max-width: 1200px) and (min-width: 1100px), screen and (max-width: 900px){
	.catalog ul.products li.product, .catalog ul.products li.product.last{
	    margin-right: 30px;
	    margin-left: 30px;
	    width: auto;
	}
	.catalog ul.products{
		-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
	}
	.product .summary {
	    width: 100%;
	    -webkit-box-ordinal-group: 2;    -ms-flex-order: 1;    order: 1;
	}
	section.related.products{
		-webkit-box-ordinal-group: 4;    -ms-flex-order: 3;    order: 3;
	}
	.product .woocommerce-product-gallery{
		width: auto;
		margin-right: 0px;
		-webkit-box-ordinal-group: 3;    -ms-flex-order: 2;    order: 2;
	}
}
	
	
/*---------------- 1100 ----------------*/
@media screen and (max-width: 1100px){
	.header-page{
		margin-top:62px;
	}
	.header-page, .page-content {
		width: 100%;
	}
	.page #search{
		left:0px;
		top:-5px;
		width:100%;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.header-page h1{
		font-size: 36px;
	}
	.header-page h1.extraLong{
		font-size: 20px;
	}
	.header-page h1.long{
		font-size: 30px;
	}
	.header-page .container  span:before{
		bottom:1px;
	}
	.catalog-content {
	    height: calc(100% - 216px);
	    width: 100%;
	}
}

@media screen and (max-width: 1100px) and (min-width:700px){


}

/*---------------- 800 ----------------*/
@media screen and (max-width: 800px){
	.company_block_01 img {
		width: auto;
		top: 0px;
		position: relative;
		margin: -105px auto 0px;
	}
	.white_block .inner p:first-child {
		padding-right: 0px;
	}
	.white_block .inner {
		padding-bottom: 100px;
	}
	.white_block+p{
		text-align:center;
	}
	.contacts_block_01 h2 {
		font-size: 24px;
	}
	.contacts_block_01 h3 {
		font-size: 20px;
	}
	.map {
		width: 90%;
		height: 250px;
		position: relative;
		margin: 0px auto;
		margin-top:-100px;
		top:0px;
	}
	.contacts_block_01 .dark_block {
		padding: 40px 30px 120px;
		margin-top:20px;
	}
	.catalog-content h2 {
	    font-size: 24px;
	}
	.catalog-content .catalog-item a.category-inner {
	    padding-top: 5% ;
	}
	.catalog ul.products li.product, .catalog ul.products li.product.last {
	    margin-right: 20px;
	    margin-left: 20px;
	}
}
/*---------------- 768 ----------------*/
@media screen and (max-width: 768px){
	.people .vc_col-sm-4{
		margin-bottom: 50px;
	}
	.people .vc_col-sm-4:last-child{
		margin-bottom: 20px;
	}
	.columns-2-row .columns-2.wpb_column:after{
		display: none;
	}
	.columns-2-row .columns-2.wpb_column:before{
		content: '';
	    position: absolute;
	    width: 100%;
	    height: 5px;
	    background: url(../images/dotted-border.png);
	    background-position: left top;
	    display: block;
	    bottom: 0px;
	    left: 0px;
	}
	.columns-2-row:before{
		display: none;
		width: 0px;
		background: none;
	}
	.columns-2-row.last .columns-2.wpb_column:last-child:before{
		display: none;
	}

}

/*---------------- 700 ----------------*/
@media screen and (max-width: 700px){
	.header-page h1 {
		font-size: 30px;
	}
	.header-page h1.extraLong{
		font-size: 18px;
	}
	.header-page h1.long{
		font-size: 24px;
	}
	.header-page .page-title{
		height: 120px;
		background-size: cover
	}
	.header-page .container  span:before {
		bottom: 0px;
	}
	ul#dt_breadcrumbs {
		margin: 5px 30px;
	}
	#dt_breadcrumbs .home-icon {
		width: 16px;
		height: 16px;
		background-size: contain;
	}
	#dt_breadcrumbs{
		font-size:12px;
	}
	ul#dt_breadcrumbs li.separator {
		width: 35px;
	}
	ul#dt_breadcrumbs li.separator:before{
		left:14px;
	}
	#dt_breadcrumbs .home-icon{
		top:9px;
	}
	.department .figures {
		width: 50%;
		margin-left: 0px;
		margin-bottom:30px;
	}
	.department .figures:before {
		left: calc(50% - 62px);
	}
	.department .figures .yellow {
		width: 100%;
	}
	.department.department_01 {
		padding-bottom: 30px;
	}
	h2 {
		font-size: 24px;
	}
	.white_block .inner {
		padding-right: 25px;
		padding-left: 25px;
	}
	.catalog-content {
	    height: calc(100% - 182px);
	}
	.catalog-content .catalog-item {
	    width: 100%;
	    height: auto;
	}
	.catalog-content .catalog-01 h2:before {
	    height: 57px;
	}
	.catalog-content .catalog-02 h2:before {
	    height: 57px;
	}
	.catalog-content .catalog-03 h2:before {
	    height: 57px;
	}
	.catalog-content .catalog-04 h2:before {
	    height: 57px;
	}
	.catalog-content .catalog-item a.category-inner{
	    padding: 30px;
	}
	.catalog-content{
		position: relative;
		min-height: inherit;
	}
	.catalog-content .catalog-03 h2:before {
	    background-image: url(../images/butter-icon-catalog-white.png);
	}
	.catalog-content .catalog-04 h2:before {
	    background-image: url(../images/prod-icon-catalog-dark.png);
	}
	.catalog-content .catalog-item.catalog-04:before {
	    background: #ffffff;
	}
	.catalog-content .catalog-item.catalog-03:before{
		background: #88766d;
	}
	.catalog-content .catalog-03 h2, .catalog-content .catalog-03 p {
	   color: #ffffff;
	}
	.catalog-content .catalog-04 h2, .catalog-content .catalog-04 p {
	     color: #88766d;
	}
	.catalog-content .catalog-item.catalog-04 a.category-inner {
	    padding-bottom: 60px;
	}
	.catalog-content p {
	    font-size: 16px;
	}
	ul.product-cats li a{
		padding: 5px 15px;
    	font-size: 12px;
	}
	.table_page tr{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	}
	.table_page td {
	    width: 100%;
	    padding: 10px 0px;
	}
	.table_page tr:first-child td{
		border-bottom: 1px solid #e4e3e3;
		font-size: 16px;
	}
	.table_page tr td:last-child{
		border-bottom: 3px solid #edb61a;
	}
}


/*---------------- 500 ----------------*/
@media screen and (max-width: 500px){
	.header-page h1 {
		font-size: 22px;
		max-height: 94px;
	}
	.header-page h1.extraLong{
		font-size: 16px;
	}
	.header-page h1.long{
		font-size: 18px;
	}
	.header-page .page-title{
		height: 100px;
	}
	.header-page .container span:before {
		height:6px;
	}
	.header-page h1 {
		padding-left: 30px;
	}
	.page-title .container{
		padding-right:30px;
	}
	.page-content {
		padding: 10px 20px 80px 20px;
	}
	.page-content, .page-content p, .page-content a, .page-content li{
		font-size:16px;
	}
	.department_text strong {
		font-size: 18px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	.company_block_02 .features:after {
		width: 100%;
	}
	.contacts_block_01 h2 {
		font-size: 22px;
	}
	.contacts_block_01 h3 {
		font-size: 18px;
	}
	.contacts-item:before {
		width: 40px;
		height: 40px;
	}
	.contacts-item.addres:before {
		background-size: 28px;
	}
	.contacts-item.phone:before{
		background-size: 25px;
	}
	.contacts-item.mail:before{
		background-position: 9px 9px;
		background-size: 25px;
	}
	.contacts-item.vk:before{
		background-size: 26px;
	}
	.contacts-item{
		height:auto;
		min-height:40px;
		padding-left: 54px;
	}
	.contacts_block_02 {
		margin-top: 50px;
	}
	.contacts_block_02 .contacts-employee{
		padding: 10px 25px 25px;
	}
	.default-page .white_block, .error404 .white_block, .search .white_block{
		padding:25px;
	}
	.white_block.partners, .partners .dark_block{
	    padding: 25px;
	}
	.partners .contacts-item {
	    padding-left: 54px;
	}
	.catalog ul.products li.product, .catalog ul.products li.product.last {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	.flex-control-thumbs img{
		width: 50px;
	}
	h2.product_title {
	    font-size: 22px;
	}
	table.woocommerce-product-attributes tr{
		display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
    	width: 100%;
	}
	table.woocommerce-product-attributes th.woocommerce-product-attributes-item__label {
	    padding-right: 0px;
	    width: 100%;
	    padding-bottom: 0px;
    	background-image: none;
	}
	table.woocommerce-product-attributes td.woocommerce-product-attributes-item__value {
	    text-align: left;
	    width: 100%;
	    padding-top: 5px;
   	 	padding-bottom: 20px;
	}
	table.woocommerce-product-attributes tr:last-child td.woocommerce-product-attributes-item__value{
		background: none;
	}
	table.woocommerce-product-attributes{
		padding: 5px 20px 0px;
	}
	section.related.products h2{
		font-size: 20px;
	}
}


/*---------------- 360 ----------------*/
@media screen and (max-width: 360px){
	.contacts_block_01 .dark_block{
		padding-left:20px;
		padding-right:20px;
	}
	.contacts-items, .contacts-items a{
		font-size:14px;
	}
	.page-content .employee a{
		font-size:14px;
	}
	.page-content {
	    padding: 10px 10px 80px 10px;
	}
}


	